include ../../components/rate-button/rate-button

mixin item-card(rate,number,lux,price,reviews,src1)
    .item-card
        .image-slider
            ul.slides
                    li.slide.showing 
                        img(src=src1, alt="")
                    li.slide 
                        img(src="../src/assets/rooms-preview/room2.jpg", alt="")
                    li.slide
                        img(src="../src/assets/rooms-preview/room1.jpg", alt="")
                    li.slide 
                        img(src="../src/assets/rooms-preview/room2.jpg", alt="")
            .item-card__navigation-buttons
                    <button class="item-card__controls controls-pre"></button>
                    <button class="item-card__controls controls-next"></button>
            .item-card__pagination-buttons
                    <button class="item-card__pagination first-slide current-slide"></button>
                    <button class="item-card__pagination second-slide"></button>
                    <button class="item-card__pagination third-slide"></button>
                    <button class="item-card__pagination fourth-slide"></button>
            a(href="room-details.html").image-slider__room-link
        .item-card__footer
            .item-card__footer-top
                h1.item-card__title 
                    span.item-card__number № 
                    span.number__room-number=number 
                    span.item-card__lux=lux
                p.item-card__dayprice  
                    span.dayprice__price=price
                    span.item-card__day в сутки
            .item-card__footer-bottom
                +rate-button(rate)
                p.item-card__reviews-count  
                    span=reviews
                    span.item-card__review Отзывов