mixin button-purpule(name,addClass)
    button.button-purpule(class=addClass)=name
mixin button-white(name,addClass)
    button.button-white(class=addClass)=name
mixin button-submit(name)
    button.button-submit=name
mixin button-clear(name)
    button.button-clear=name
mixin button-purpule-large(name)
    button.button-purpule-large=name