mixin button-purpule(name,addClass,link)
    span.button-purpule(class=addClass)
        a(href=link).button-purpule__link=name
mixin button-white(name,addClass,link)
    span.button-white(class=addClass)
        a(href=link).button-white__link=name
mixin button-submit(name)
    button.button-submit=name
mixin button-clear(name)
    button.button-clear=name
mixin button-purpule-large(name,link)
    span.button-purpule-large
        a(href=link).button-purpule-large__link=name