mixin double-date-dropdown(h3n1,h3n2,placeholder,value)
    .double-date-dropdown-block
        .date-1    
            h3.double-date-dropdown-h3n1=h3n1
            input.datepicker-here.first-date(
                data-date-format="dd.mm.yyyy"
                type="text"
                placeholder=placeholder
                id="start_one"
                data-range="true"
                data-multiple-dates-separator=" - ")
        .date-2
            h3.double-date-dropdown-h3n2=h3n2
            input.dates.second-date( 
                type='text'
                value=value
                placeholder=placeholder
                id='end_one')