mixin double-date-dropdown(h3n1,h3n2,placeholder,value)
    .double-date-dropdown-block
        .double-date-dropdown-block__date-1    
            h3.double-date-dropdown-block__title-1=h3n1
            input.double-date-dropdown-block__input1.datepicker-here.first-date(
                readonly
                data-date-format="dd.mm.yyyy"
                type="text"
                placeholder=placeholder
                id="start_one"
                data-range="true"
                data-multiple-dates-separator=" - ")
        .double-date-dropdown-block__date-2
            h3.double-date-dropdown-block__title-2=h3n2
            input.double-date-dropdown-block__input2.dates.second-date( 
                readonly
                type='text'
                value=value
                placeholder=placeholder
                id='end_one')