mixin  masked-text-field(h3,p,placeholder,addClass)
    .masked-text-field-block
        .masked-text-field-header(class=addClass)  
            h3.masked-text-field-title=h3
        input.masked-text-field(
            type="text"
            name="field-name"
            placeholder=placeholder
            data-mask="00.00.0000")