mixin filter-date-dropdown(h3,placeholder)
    .filter-date-dropdown-block
        .filter-date-dropdown-block__filter-date-dropdown-header
            h3.filter-date-dropdown-block__filte-date-dropdown-title=h3
        input.datepicker-here.filter-date-dropdown(
                type="text"
                placeholder=placeholder
                data-range="true"
                data-multiple-dates-separator=" - "
                id="date_range"
                readonly 
                )