mixin filter-date-dropdown(h3)
    .filter-date-dropdown-block
        .filter-date-dropdown-header
            h3.filte-date-dropdown-title=h3
        input.datepicker-here.filte-date-dropdown(
                type="text"
                placeholder=placeholder
                data-range="true"
                data-multiple-dates-separator=" - "
                id="date_range"
                )