mixin filter-date-dropdown(h3,value)
     .two
        h3.filte-date-dropdown=h3
        input.datepicker-here(
            type="text"
            placeholder=placeholder
            value=value
            data-range="true"
            data-multiple-dates-separator=" - "
            id="date-range")